<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap="bootstrap.php"
    verbose="true"
    colors="true"
    stopOnFailure="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
>
    <groups>
        <exclude>
            <group>skip</group>
        </exclude>
    </groups>

    <testsuites>
        <!-- we want to run unit test first -->
        <testsuite name="Unit">
            <directory>Unit/*</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>Integration/*</directory>
        </testsuite>
    </testsuites>
</phpunit>
