<?php

/**
 * Settings needed for the Forte API
 */
function get_forte_settings(): array
{
    return array (
        'environments' =>
            array (
                'sandbox' =>
                    array (
                        'access_id' => 'xxxxxx',
                        'secure_key' => 'xxxxxx',
                        'authenticating_organization_id' => 'xxxxxx',
                        'sandbox' => true,
                        'base_uri' => NULL,
                    ),
                'livetest' =>
                    array (
                        'access_id' => 'xxxxxx',
                        'secure_key' => 'xxxxxx',
                        'authenticating_organization_id' => 'xxxxxx',
                        'sandbox' => false,
                        'base_uri' => NULL,
                    ),
            ),
        'override_sub_resource_environments' =>
            array (
                'address' => 'livetest',
                'application' => 'livetest',
                'customer' => 'livetest',
                'dispute' => 'livetest',
                'document' => 'livetest',
                'funding' => 'livetest',
                'pay_method' => 'livetest',
                'schedule_item' => 'livetest',
                'settlement' => 'livetest',
                'transaction' => NULL,
            ),
    );
}
