<?php

declare(strict_types = 1);

/**
 * Settings needed for the Forte API
 */
function get_forte_settings(): array
{
    return [
        'environments' => [
            'sandbox' => [
                'access_id' => 'xxxxx',
                'secure_key' => 'xxxxx',
                'authenticating_organization_id' => 'xxxxx',
                'sandbox' => true,
                'base_uri' => null,
                'debug' => false,
            ],
            'livetest' => [
                'access_id' => 'xxxxx',
                'secure_key' => 'xxxxx',
                'authenticating_organization_id' => 'xxxxx',
                'sandbox' => false,
                'base_uri' => null,
                'debug' => false,
            ],
        ],
    ];
}
