##################################
#      ForteApi Git Ignore       #
##################################

# Composer
composer.lock
vendor/*

# Configs
test/settings.php
test/UserSettings.php

# Tests
.phpunit.result.cache
